@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #144D37;
  --secondary: #7DCA6A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-ibm-plex-sans);
  --font-heading: var(--font-ibm-plex-serif);
}

body {
  font-family: var(--font-ibm-plex-sans);
}
